{% extends "base_generic.html" %}

	{% block title %}<title>Akatsuki GameStore</title>{% endblock %}
	{% block content %}
	{% load static %}
	<div class="row ">
		<div class="col-lg-9">
			
		<a href="Ofertas.html">   <img src="{% static 'img/m1.jpg'%}" height="100%" width="1400px" alt="gabe"  ></a>
		</div>


		<div class="col-lg-3" style="background-color:lavenderblush;">
			<p>Inicio de sesión</p>
			<a href="{% url 'iniciador' %}" class="btn btn-primary btn-lg">Ingresar</a>
			<br>
			<br>
			<p>¿No tienes cuenta?</p>
			<a href="{% url 'registrador' %}" class="btn btn-primary btn-lg">Registrar</a>
			<br>
		</div>
	</div>
	{% endblock %}
