{% extends 'base_generic.html'%}
{% block title %}<title>Inicio de sesión</title> {% endblock %}
{% block content %}


 <form method="post" action="{% url 'login' %}">
     {% csrf_token %}

 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="col-md-8">Inicio Sesion</legend>

                        

                        <div class="form-group">
                            <div class="col-md-8">
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8">
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </div>

                        <br>
                    

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-lg" value="login"
                                >Iniciar</button>
                                <input type="hidden" name="next" value="{{ next }} "/>
                            </div>
                        </div>
                        {% load socialaccount %}

                         <a href="{% provider_login_url 'google' %}">Login with Google</a>

                        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}