{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<section id="galeria" class="container">
        <div class="text-center pt-5">
          <h1>Detalles</h1>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <div class="card">
              <img class="card-img-top" src="{{ videojuego.imagen.url }}">
              <div class="card-body">
                <h4 class="card-title"> {{ videojuego.nombre }}</h4>
                <p class="card-text"><h3>Genero</h3> {{videojuego.genero}} </p>
                <p class="card-text"><h3>Clasificación</h3><strong>{{videojuego.ESRB}}</strong></p>
                <p class="card-text"><h3>Descripción</h3>{{videojuego.descripcion}}</p>
                <p class="card-text"><h3>Precio</h3> ${{videojuego.precio}}</p>
                <a href="/catalog/videojuego/{{videojuego.id}}/update/" class="btn btn-primary">Editar</a>
                <a href="/catalog/videojuego/{{videojuego.id}}/delete/" class="btn btn-primary">Eliminar</a>
              </div>
            </div>
          </div>          
        </div>
</section>
{% endblock %}